@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Patua+One');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
}

h1 {
    margin: 0;
    font-size: 30px;
}

h2, h3, h4 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

li {
    margin: 0;
}

ul {
    margin: 0;
}

header {
    background-color: black;
    opacity: 0.9;
    width: 100%;
    position: fixed;
    padding: 1em 0;
    border-bottom:4px solid gray;
}

header nav {
    width: 90%;
    margin: 0 auto;
}

.logo {
    text-transform: uppercase;
    float: left;
    margin: 0;
    font-weight: 800;
    font-size: 1.2em;
    color: white;
}

.logo span {
    font-weight: 400;
    border: 4px solid white;
    padding: 5px;
}

.site-nav {
    position: absolute;
    background-color: black;
    opacity: 0.9;
    top: 100%;
    right: 0;
    height: 0;
    overflow: hidden;
}

.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid white;
    width: 90%;
    margin-left: 5%;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1.5em 5em;
    text-transform: uppercase;
    text-align: center;
}

.site-nav a:hover, .site-nav a:focus {
    padding: 2em 5em;
    font-weight: 800;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 0.55em;
    right: 5%;
    cursor: pointer;
}

.hamburger, .hamburger::before, .hamburger::after {
    content: '';
    display: block;
    background: white;
    height: 5px;
    width: 2em;
    border-radius: 3px;
    transition: ease-in-out 500ms;
}

.hamburger::after {
    transform: translateY(6px);
}

.hamburger::before {
    transform: translateY(-10px);
}

.site-nav-open {
    height: auto;
}

.open .hamburger {
    transform: rotate(45deg);
}

.open .hamburger::before {
    transform: rotate(-90deg);
}

.open .hamburger::after {
    opacity: 0;
}

.site-nav-icon {
    margin-right: 1em;
}
.site-nav-icon img {
    display: none;
}

#landing {
    background: #f37748; /* Old browsers */
    background: -moz-linear-gradient(top, #f37748 0%, #ecc30b 33%, #7db9e8 90%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f37748 0%,#ecc30b 33%,#7db9e8 90%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f37748 0%,#ecc30b 33%,#7db9e8 90%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37748', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    padding-top: 4em;
    font-size: 13px;
}

.container-1 {
    width: 90%;
    margin-left: 5%;
    display: inline-block;
}

#landing img {
    height: 450px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-message h1 {
    text-align: center;
    padding-bottom: 0.5em;
    color: #D56062;
    font-family: 'Patua One', cursive;
}

.landing-message p {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 1em;
}

#skillset {
    background-color: #7db9e8;
}

#skillset li {
    font-size: 13px;
}

#skillset img {
    display: none;
}

.pro-skillset {
    width: 90%;
    margin-left: 5%;
}

.pro-skillset h1 {
    text-align: center;
    padding: 1em 0.5em;
    padding-top: 2em;
    color: #D56062;
    font-family: 'Patua One', cursive;
}

.pro-skills {
    display: flex;
    padding-bottom: 1.5em;
}

.personal {
    width: 90%;
    margin-left: 5%;
    padding-bottom: 1.5em;
}

.personal h1 {
    text-align: center;
    padding-bottom: 1em;
    color: #D56062;
    font-family: 'Patua One', 'cursive';
}

#education {
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7db9e8 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7db9e8 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.container-2 {
    width: 90%;
    margin-left: 5%;
}

.container-2 h1 {
    text-align: center;
    padding-bottom: 0.6em;
    font-family: 'Patua One', 'cursive';
    padding-top: 2em;
}

.container-2 h2 {
    color: #D56062;
    font-family: 'Patua One', 'cursive';
    font-size: 22px;
}

.container-2 h3 {
    font-size: 15px;
    font-family: 'Patua One', 'cursive';
}

.container-2 h4 {
    font-size: 12px;
    padding-bottom: 1em;
    color: #828282;
    font-family: 'Patua One', 'cursive';
}

.container-2 p {
    font-size: 13px;
    padding-bottom: 1em;
}

.container {
    display: flex;
}

.container img {
    margin-top: 4%;
    width: 50px;
    border: 3px solid white;
    border-radius: 5px;
}

.container div {
    width: 90%;
    margin-left: 5%;
    padding-top: 0;
}

img {
    height: 50px;
}

#experience  h1 {
    font-family: 'Patua One', 'cursive';
    padding-bottom: 1em;
    padding-top: 2em;
    text-align: center;
}

#projects p {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

#projects a {
    color: black;
}

#contact {
    width: 90%;
    margin-left: 5%;
    padding-top: 2em;
    font-family: 'Patua One', 'cursive';
    text-align: center;
}

#contact h1 {
    color: #D56062;
    font-family: 'Patua One', 'cursive';
    font-size: 35px;
}

#contact span {
    color: gray;
}

#contact ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 2em 0.5em;
}

footer {
    width: 100%;
    font-size: 13px;
    text-align: center;
    padding-bottom: 1em;
    color: white;
    background-color: black;
}

footer p {
    padding-top: 1em;
}

@media (min-width: 1200px) {
    header nav {
        width: 80%;
    }

    .menu-toggle {
        right: 10%;
    }

    .site-nav {
        margin-right: 10%;
    }

    .container-1 {
        width: 80%;
        margin-left: 10%;
        display: inline-flex;
        border-bottom: 3px solid black;
        padding-top: 2em;
    }

    #landing img {
        height: 800px;
        padding-bottom: 2em;
    }
    
    .landing-message h1 {
        padding-top: 30%;
        color: #D56062;
        font-family: 'Patua One', cursive;
        font-size: 50px;
    }
    
    .landing-message p {
        text-align: center;
        width: 90%;
        margin-left: 5%;
        font-size: 18px;
    }

    #skillset {
        padding-top: 4em;
    }

    #skillset h1 {
        font-size: 40px;
    }

    #skillset li {
        font-size: 15px;
    }

    .pro-skillset {
        width: 80%;
        margin-left: 10%;
        border-bottom: 3px solid black;
        padding-bottom: 2em;
    }

    .personal {
        padding-top: 2em;
        padding-bottom: 3em;
        width: 80%;
        margin-left: 10%;
        border-bottom: 3px solid black;
    }

    .container-2 {
        padding-top: 2em;
        padding-bottom: 2em;
        border-bottom: 3px solid black;
        width: 80%;
        margin-left: 10%;
    }

    .container-2 h1 {
        color: #D56062;
        font-size: 40px;
        padding-top: 1em;
    }

    .container p {
        font-size: 15px;
    }

    .container img {
        margin-top: 4%;
        width: 100px;
        height: 100px;
        border: 5px solid white;
        border-radius: 5px;
    }
    
    .container div {
        width: 80%;
        margin-left: 10%;
        padding-top: 0;
    }

    .container h4 {
        font-size: 15px;
    }

    .container h3 {
        font-size: 20px;
    }

    .container h2 {
        font-size: 25px;
    }

    #experience {
        padding-top: 1em;
    }

    #experience h1 {
        color: #D56062;
        font-size: 40px;
        padding-bottom: 0px;
        padding-top: 1.2em;
    }

    #experience p {
        font-size: 15px;
    }

    #experience h2 {
        font-size: 25px;
    }

    #experience h3 {
        font-size: 20px;
    }

    #experience h4 {
        font-size: 15px;
    }

    footer p {
        font-size: 15px;
        color: white;
        padding-top: 1em;
    }

    footer {
        background-color: black;
    }

    #projects h1 {
        padding-top: 0;
        padding-bottom: 0.5em;
    }
}